---
layout: default
meta_title: About Us
meta_description: About us page description
body_class: about
title: About Us
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre lg:max-w-5xl flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <section class="mb-20">
            <h2 class="mb-2">Who we are</h2>
            <div class="content-about">
                <p>Globally connecting patients and healthcare providers</p>
                <p>Brit-Med™ is the digital platform revolutionising the relationship between patients and healthcare providers. Our users will be able to search, compare and connect with specialists online. Spanning both medical and cosmetic treatments, our platform will draw on a rigorously vetted network to connect patients with cutting edge treatments in choice destinations across the globe.</p>
            </div>
        </section>

        <section class="mb-20">
            <h2 class="mb-2">Our Vision</h2>
            <div class="content-about">
                <p class="mb-2">Giving patients the power to choose</p>
                <p>At Brit-Med™, our customers’ wellbeing is at the core of everything we do. That’s why we set out to make navigating the medical healthcare market smooth, simple and stress-free.</p>
                <p>We’re building a beautiful system where patients can compare clinicians, pricing, locations, and reputations of healthcare providers with the click of a finger.</p>
                <p>Grounded in our deep understanding of global healthcare, we envisioned a system built on transparency, efficiency and affordability, where patients can be matched with the perfect treatment with confidence and certainty.</p>
            </div>
        </section>

        <section class="mb-20">
            <h2 class="mb-2">Our Solution</h2>
            <div class="content-about">
                <p class="mb-2">We’re building a global portfolio of specialist treatment providers who adhere to our exceptionally high expectations of expertise and quality clinical care</p>
                <p>To help guide our customers through their decisions in confidence, we provide unbiased, up to date information on which treatments are available, what they involve, and where best to access state-of-the-art infrastructure and high quality care.</p>
                <p>In a digital age, there’s no need for a waiting list. With Brit-Med™, no patient will have to wait to find the perfect provider for their elective surgery, nor will they pay more than they need to. By allowing instant, direct comparisons between treatments, we aim to embolden patients with the power to make the right decision for their health, their budget and their future.</p>
            </div>
        </section>
    </article>

    <div class="bg-orange-100 border-t-4 border-orange-500 rounded-b text-orange-900 px-4 py-3 shadow-md w-full lg:max-w-5xl" role="alert">
        <div class="flex">
            <div class="py-1">
                <svg class="fill-current h-6 w-6 text-orange-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg>
            </div>
            <div>
                <p class="font-bold">Thank you for your interest in our services</p>
                <p class="text-sm">We are all waiting for the travel restrictions to be lifted, please check our <a href="/news/" title="latest news">latest news here</a>.</p>
            </div>
        </div>
    </div>

</main>
