---
layout: default
meta_title: Book your doctor
meta_description: The world’s first medical travel platform. Find, compare and book your procedure online with the world’s best surgeons and doctors, at home or abroad.
body_class: home
title: Welcome to Brit-Med
---

<main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">

  <div class="relative bg-white overflow-hidden">
      <div class="max-w-screen-xl mx-auto">
          <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
          <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
              <polygon points="50,0 100,0 50,100 0,100" />
          </svg>

          <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
          </div>

          <main class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
              <div class="sm:text-center lg:text-left">
                  <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-blue-500 sm:text-5xl sm:leading-none md:text-6xl">
                      Welcome to <br />Brit-Med
                  </h2>
                  <p class="mt-3 text-base text-gray-600 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                      The world’s first medical travel platform. Find, compare and book your procedure online with the world’s best surgeons and doctors, at home or abroad.
                  </p>
              </div>
          </main>
          </div>
      </div>
      <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
          <img src="../images/travel-image.jpg">
      </div>
  </div>

  <div class="py-10" style="background: linear-gradient(90deg, #B73B35 0%, #922f2a 100%)"
  >
      <div class="container mx-auto px-6">
          <p class="mb-2 text-white sm:text-sm md:text-2xl lg:max-w-4xl">
              We develop healthcare solutions that enable patients to make informed decisions about the types of healthcare they require, the Healthcare providers available to them and the most appropriate clinician to deliver the healthcare.
          </p>
          <p class="mb-2 text-white max-w-5xl text-base sm:text-sm md:text-lg lg:max-w-4xl">Our team is a potent mix of business leaders, Clinicians and Technologists. This mix of skill and expertise drives our innovation in a focused and patient-centric manner, delivering excellent healthcare solutions and shareholder return.</p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
              <div class="rounded-md shadow">
                  <a href="/about/" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-red-400 hover:bg-red-600 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                      Find out more
                  </a>
              </div>
          </div>
      </div>
  </div>

  {% include 'components/latest-news.njk' %}

</main>
