---
layout: default
meta_title: Patients
meta_description: Patients page description
body_class: patients
title: Patients
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
           <p>Benefits and registration for our Patients</p>
        </div>


		<div class="flex flex-wrap">
			<div class="w-5/6 sm:w-1/2 p-6">
				<h3 class="text-2xl text-gray-700 font-bold leading-none mb-3">
                    Register to be eligible for our big draw.
                </h3>
				<p class="text-gray-600 mb-8">
                    The 10.000th subscriber will get 50% off the price* of the first service booked through the platform, 30% off for the 50.000th subscriber, 20% off for the 100.000th subscriber. <br /><small>*T&Cs apply</small>.
                </p>

                <div class="bg-blue-200 text-center py-4 lg:px-4">
                    <div class="p-2 bg-blue-800 items-center text-blue-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
                        <span class="flex rounded-full bg-blue-500 uppercase px-2 py-1 text-xs font-bold mr-3">Registration</span>
                        <span class="font-semibold mr-2 text-left flex-auto">Coming soon</span>
                    </div>
                </div>

			</div>
			<div class="w-full sm:w-1/2 p-6">
                <img src="../images/patient-journey.jpeg" alt="" title="">
			</div>
		</div>

    </article>

</main>
